.float-right{
    float: right;
}

.order-header{
    background-color: rgb(240, 240, 240) !important;
    margin-bottom: 20px;
    padding: 20px 16px;
    margin-right: 30px;
    margin-top: 20px;
}

.order-body{
    padding: 10px;
    margin-top: 20px;
    margin-right: 30px;
    color: rgb(255, 255, 255);
}

.mat-form-field{
    margin-right: 10px;
    margin-top: 10px;

}
.order-form{
    color: rgb(153, 4, 4) !important;
}
.mat-form-field {
    color: rgb(0, 128, 85);
}

.mat-label{
    color: rgb(255, 255, 255) !important;
}
