mat-sidenav {
    width: 240px;
    padding-top: 0px;
}

a {
    height: 45px;
    padding: 0 10px;
    margin-bottom: 10px;
    align-items: center;
    display: flex;
    font-size: 15px;
    white-space: nowrap;
    color: rgb(235, 235, 235);
    text-decoration: none;

    mat-icon:not(.dd-icon) {
        margin-right: 8px;
    }

    mat-icon {
        color: crimson;
    }
}